body {
	text-align: center;
	width:100%
}

.answer {
	/*
	background-image: url(/static/core/img/answer-bg.jpg);
	background-size: cover;
	width: 100%;
	*/
	font: 16px/1.5 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;
	margin-top: 30px;
	z-index: 0;
}

.answer img{
	width: 100%;
	height: 100%;
	z-index: 100;
}

.answer-text {
	line-height: 100%;
}

.research img {
	width: 15%;
	height: 15%;
}

.three-point {
	margin : 20px auto 5px;
}

.three-point img {
	width: 3%;
	height: 3%;
}

.other {
	position: absolute;
	bottom: 0px;
}

.django-logo img:first-child {
	width: 25%;
	height: 25%;
	left: 10px;
	position: relative;
}

.detail{
	width: 5%;
	height: 5%;
	float: right;
	padding : 5px;
}

