@font-face {
	font-family: 'Calligraphy';
	font-style: normal;
	font-weight: 400;
	src: url('/static/core/fonts/Calligraphy.eot');
    src: url('/static/core/fonts/Calligraphy.eot?#iefix') format('embedded-opentype'),
		 url('/static/core/fonts/Calligraphy.woff') format('woff'),
		 url('/static/core/fonts/Calligraphy.ttf') format('truetype'),
		 url('/static/core/fonts/Calligraphy.svg#Calligraphy') format('svg');
}

@font-face {
	font-family: 'White_Calligraphy';
	font-style: normal;
	font-weight: 400;
	src: url('/static/core/fonts/White_Calligraphy.eot');
    src: url('/static/core/fonts/White_Calligraphy.eot?#iefix') format('embedded-opentype'),
		 url('/static/core/fonts/White_Calligraphy.woff') format('woff'),
		 url('/static/core/fonts/White_Calligraphy.ttf') format('truetype'),
		 url('/static/core/fonts/White_Calligraphy.svg#Calligraphy') format('svg');
}

body {
	text-align: center;
	width:100%;
	font-size: 100%;
}

.answer {
	font-family: "Calligraphy","White_Calligraphy","Hiragino Sans GB","Hiragino Sans GB W3",sans-serif;
	/*font-family: "Calligraphy","White_Calligraphy";*/
	font-size: 1.6rem;
	line-height: 1.5;
	position: absolute;
	margin-top: 30px;
	z-index: 0;
	width:100%;
	text-align: center;
	margin-left: -18px;
}

.answer-text #nameans{
	font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
}

#chanswer{
	font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
}

#enanswer{
	font-family: "Calligraphy","White_Calligraphy","Hiragino Sans GB","Hiragino Sans GB W3",sans-serif;
}

#belowpart{
	margin-top: 80px;
}

#answer-img {
	width: 90%;
	opacity: 0.8;
}

.answer-text {
	z-index: 1000;
}

.research img {
	width: 20%;
	height: 20%;
	opacity: 0.8;
}

.three-point {
	margin : 25px auto 5px;
}

.three-point img {
	width: 3%;
	height: 3%;
}

.django-logo img{
	margin-left: -20px;
}

.django-logo img:first-child {
	margin-top: 25px;
	width: 18%;
	height: 18%;
	left: 10px;
	position: relative;
}

.detail{
	width: 5%;
	height: 5%;
	float: right;
	padding : 5px;
}

#pagetwo-footer {
	background: none;
	border: none;
} 

.hide {
	display: none;
}

#nameans{
	diaplay:none;
}