<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="我是答案之书，你的任何问题我都可以回答你">
    <meta name="author" content="terry">
    <meta content="width=device-width,initial-scale=1,user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <!-- bootstrap core css -->
    <link rel="stylesheet" href="/static/other/bootstrap-3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/other/bootstrap-3.3.5/css/bootstrap-theme.min.css">

    <script src="/static/other/jquery/jquery-1.11.3.min.js"></script>
    <script src="/static/other/jquery/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
    <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>


    {% block link %}{% endblock %}
    <title>
        {% block title %}{% endblock %}
    </title>
</head>
{% block body %}{% endblock %}
<!-- bootstrap core js -->
<script src="/static/other/bootstrap-3.3.5/js/bootstrap.min.js"></script>
</html>
