{% extends "base.html" %}
{% block link %}
    <link rel="stylesheet" href="/static/core/css/question.css">
{% endblock %}
{% block title %}
    答案之书
{% endblock %}
{% block body %}
    <!--
    <form action="/result/" class="form-horizontal" method="get">
        <div class="control-group">
            <label class="control-label">姓名</label>
            <div class="form-group">
                {{ answerform.name }}
            </div>
            <label class="control-label">问题</label>
            <div class="form-group">
                {{ answerform.question }}
            </div>
            <input type="hidden" name="id" value="{{ id }}" >
        </div>
        <button type="submit" class="btn btn-success btn-submit">提问</button>
    </form>
    -->
    <body>
    <div data-role="page" id="pageone">
        <div data-role="content" class="contain">
            <div class="ask-logo">
                <img src="/static/core/img/logo.png"/>
            </div>

            <form action="/result/" class="form-horizontal" method="get">

                <div>
                    <span class="input input--hoshi">
					    {{ answerform.name }}
					    <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="nameinput">
                            <span class="input__label-content input__label-content--hoshi">姓名</span>
                        </label>
				    </span>
                </div>

                <div>
                    <span class="input input--hoshi">
	                 {{ answerform.question }}
	                 <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="questioninput">
                         <span class="input__label-content input__label-content--hoshi">写下你的问题</span>
                     </label>
                    </span>
                </div>
                <input type="hidden" name="id" value="{{ id }}" >
                <button type="submit" id="submitbutton" style="visibility: hidden">提问</button>
                <div class="search-logo" id="submitimg">
                    <img src="/static/core/img/search.png">
                </div>
            </form>


        </div>
    </div>
    <script>
        $("body").height = ($(window).height);

        $("#submitimg").click(function(){
           $("#submitbutton").click();
        });
    </script>
    </body>
{% endblock %}
